n8n-bedrock-workflow.json
{
  "name": "Screen Sense - AWS Bedrock Key Rotation Automation",
  "nodes": [
    {
      "parameters": {
        "path": "screen-sense-rotation",
        "method": "POST"
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "screen-sense-rotation"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "comparator": "equals",
              "value1": "={{ $json.statusCode }}",
              "value2": 429
            }
          ]
        }
      },
      "id": "2",
      "name": "Check Rate Limit Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.KEY_VAULT_ENDPOINT }}",
        "method": "GET",
        "authentication": "headerBearerToken",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "3",
      "name": "Query Key Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8765/rotate-keys",
        "method": "POST",
        "contentType": "application/json",
        "body": "{\n  \"openaiKey\": \"{{ $json.nextOpenAIKey }}\",\n  \"apiKey\": \"{{ $json.nextGroqKey }}\"\n}",
        "options": {}
      },
      "id": "4",
      "name": "Rotate to Next Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200],
      "credentials": {
        "httpHeaderAuth": "ScreenSenseRotationAuth"
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8765/audit-log",
        "method": "POST",
        "contentType": "application/json",
        "body": "{\n  \"event\": \"key_rotated\",\n  \"timestamp\": \"={{ $now.toIso8601() }}\",\n  \"previousKey\": \"{{ $json.currentKey }}\",\n  \"newKey\": \"{{ $json.nextOpenAIKey }}\",\n  \"reason\": \"rate_limit_exceeded\"\n}",
        "options": {}
      },
      "id": "5",
      "name": "Log Rotation Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "https://bedrock-runtime.us-east-1.amazonaws.com/model/anthropic.claude-3-sonnet-20240229-v1:0/invoke",
        "method": "POST",
        "contentType": "application/json",
        "body": "{\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "6",
      "name": "Invoke Bedrock Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "awsSecurityTokenService": "AWSBedrockCreds"
      }
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "{\n  \"success\": true,\n  \"result\": \"{{ $json.body }}\",\n  \"keyRotated\": \"={{ $node['Rotate to Next Key'].json.success }}\"\n}"
      },
      "id": "7",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Rate Limit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit Error": {
      "main": [
        [
          {
            "node": "Query Key Vault",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoke Bedrock Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Key Vault": {
      "main": [
        [
          {
            "node": "Rotate to Next Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotate to Next Key": {
      "main": [
        [
          {
            "node": "Log Rotation Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rotation Event": {
      "main": [
        [
          {
            "node": "Invoke Bedrock Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke Bedrock Model": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "screen-sense",
    "automation",
    "bedrock",
    "key-rotation"
  ]
}
